video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}

section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.wrapper {
  width: 1044px;
  margin: auto;
}

.columns {
  position: relative;
}


header {
  background-color: #FFFFFF;
  padding: 35px;
  text-align: center;

}

h1 {
  letter-spacing: 14px;
  font-family: helvetica;
  font-variant: small-caps;
  color: black;
  margin-bottom: 25px;
}

byline {
  color: #A9A9A9;
  font-family: helvetica;
  letter-spacing: 8px;
}

.posts {
  width: 698px;
  background-color: #E1E1E1;
  padding: 35px;
}

article {


}


h2 {
  font-variant: small-caps;
  margin-top: 25px;
  margin-bottom: 25px;
}

h3 {
  font-size: 10px;
  margin-bottom: 35px;
}

img {
  margin-bottom: 35px;
  width: 695px;
}

h4{
  padding: 35px;
}


.index {
  width: 256px;
  background-color: #C6C6C6;
  position: absolute;
  height: 100%;
  top: 0;
  right: 20px;
}

nav {
  margin: 35px;
  position: fixed;

}

nav ul {
    list-style-type: none;
    margin-bottom: 60px;
    padding-left: 0px;
    margin-top: 35px;
}

nav ul li a {
    display: block;

    background-color: #A9;
    color:#FFFFFF;

    font-weight: bold;
    font-size: 14px;

    line-height: 60px;
    height: 60px;

    text-transform: uppercase;
    text-decoration: none;

    padding-left: 60px;
    border-bottom: 5px solid #ead6be;
}

nav ul li a:hover {
    background: #787878;

ul {
  line-height: 35px;
}

.index a {

}


footer {
  clear: both;
  background-color: #000;
  padding: 35px;
}

footer a {
  text-decoartion: none;

}
